{% extends 'customers/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 50px;">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Добавить новую сделку</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for field, errors in form.errors.items %}
                            <strong>{{ field }}:</strong>
                            {% for error in errors %}
                            {{ error }}
                            {% endfor %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="small mb-1" for="id_product">Продукт</label>
                            {{ form.product }}
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="id_quantity">Количество</label>
                            {{ form.quantity }}
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="id_unit_price">Цена за единицу</label>
                            {{ form.unit_price }}
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Добавить сделку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}