{% extends 'customers/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Изменить клиента</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'customers:edit_customer' pk=object.pk %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.organization.id_for_label }}">Форма
                                организации</label>
                            {{ form.organization }}
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.name.id_for_label }}">Название</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.email.id_for_label }}">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.phone.id_for_label }}">Телефон</label>
                            {{ form.phone }}
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.address.id_for_label }}">Адрес</label>
                            {{ form.address }}
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.industry.id_for_label }}">Отрасль</label>
                            {{ form.industry }}
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <input class="btn btn-primary" type="submit" value="Сохранить">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}